<!-- wp:template-part {"slug":"header-minimal","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"bf-order-confirmation","layout":{"type":"default"}} -->

<!-- wp:woocommerce/store-notices /-->

<!-- wp:woocommerce/order-confirmation-status /-->

<!-- wp:woocommerce/order-confirmation-additional-information /-->

<!-- wp:woocommerce/order-confirmation-summary /-->

<!-- wp:woocommerce/order-confirmation-totals-wrapper -->
<!-- wp:pattern {"slug":"woocommerce/order-confirmation-totals-heading"} /-->
<!-- wp:woocommerce/order-confirmation-totals {"lock":{"remove":true}} /-->
<!-- /wp:woocommerce/order-confirmation-totals-wrapper -->

<!-- wp:woocommerce/order-confirmation-downloads-wrapper -->
<!-- wp:pattern {"slug":"woocommerce/order-confirmation-downloads-heading"} /-->
<!-- wp:woocommerce/order-confirmation-downloads {"lock":{"remove":true}} /-->
<!-- /wp:woocommerce/order-confirmation-downloads-wrapper -->

<!-- wp:woocommerce/order-confirmation-billing-wrapper -->
<!-- wp:pattern {"slug":"woocommerce/order-confirmation-billing-heading"} /-->
<!-- wp:woocommerce/order-confirmation-billing-address {"lock":{"remove":true}} /-->
<!-- /wp:woocommerce/order-confirmation-billing-wrapper -->

<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-minimal","tagName":"footer"} /-->
